@model GamersHub.Web.ViewModels.Replies.ReplyPostViewModel

<div class="d-block">
    <h2 class="display-3">@Model.ForumName</h2>
    <h2>@Model.CategoryName</h2>
</div>

<hr/>

<div class="d-block">
    <h2>Post</h2>
</div>

<div class="card">
    <div class="card-header">
        <h5 class="d-inline">@Model.UserUsername</h5>
        <h5 class="float-right">User Publications: @Model.Publications</h5>
    </div>
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Html.Raw(Model.SanitizedContent)</p>
    </div>
    <div class="card-footer">
        <span class="d-inline"><i class="fas fa-calendar-alt"></i> Posted on: <time datetime="@Model.CreatedOn"></time></span>
        @if (Model.ModifiedOn != null)
        {
            <span class="float-right"><i class="fas fa-calendar-alt"></i> Last Modified: <time datetime="@Model.ModifiedOn"></time></span>
        }
    </div>
</div>

<hr/>

<div class="d-block">
    <h2>@ViewData["Title"]</h2>
</div>