@using GamersHub.Common
@using System.Linq
@using GamersHub.Data.Models
@using Microsoft.EntityFrameworkCore.Internal
@model GamersHub.Web.ViewModels.Parties.PartyHostViewModel
@{
    ViewData["Title"] = $"{Model.Username}'s Parties";
}

@if (this.TempData["InfoMessage"] != null)
{
    <div class="alert alert-success">
        @this.TempData["InfoMessage"]
    </div>
}
<br/>
<div class="d-inline-block">
    <a asp-controller="Parties" asp-action="Index" type="submit" class="btn btn-primary btn-lg">Back To Parties</a>
</div>


<div class="d-inline-block float-right">
    <a asp-controller="Parties" asp-action="Create" type="submit" class="btn btn-primary btn-lg"><i class="fa fa-plus"></i>&nbsp; New Party</a>
</div>

<div class="text-center">
    <h1 class="display-3">@this.ViewData["Title"]</h1>
</div>
<hr/>

@if (!Model.UserParties.Any() && Model.CurrentPage == 1)
{
    <div class="text-center">
        <h2 class="display-4">You are currently not hosting any parties.</h2>
    </div>
}
else
{
    @foreach (var party in Model.UserParties)
    {
        <div class="card">
            <div class="card-header">
                <span class="float-right"><i class="fas fa-calendar-alt"></i> Created on: <time datetime="@party.CreatedOn"></time></span>
                @if (party.IsFull)
                {
                    <span>Party is Full</span>
                }
                else
                {
                    <p class="card-text">Available Slots: <span class="badge badge-primary">@party.AvailableSlots</span></p>
                }
            </div>
            <div class="card-body">
                <h5 class="card-text">@party.Game</h5>
                <h6 class="card-subtitle mb-2 text-muted">@party.Activity</h6>
                <p class="card-text">Size: <span class="badge badge-primary">@party.Size</span></p>
                <p class="card-text">@party.Description</p>
            </div>
            <div class="card-footer">
                @if (!party.PartyApplicants.Any())
                {
                    <p class="card-text">There are currently no applicants for this party.</p>
                }
                else
                {
                    <p class="card-text">Applicants:</p>
                    <ul class="list-group list-group-flush">
                        @foreach (var applicant in party.PartyApplicants)
                        {
                            <li class="list-group-item">

                                @if (applicant.ApplicationStatus == ApplicationStatusType.Pending)
                                {
                                    <form asp-controller="Parties" asp-action="Decline" method="post" class=" mr-2 float-right">
                                        <div class="form-group">
                                            <input type="hidden" name="PartyId" value="@applicant.PartyId"/>
                                        </div>
                                        <div class="form-group">
                                            <input type="hidden" name="ApplicantId" value="@applicant.ApplicantId"/>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Decline" class="btn btn-danger"/>
                                        </div>
                                    </form>

                                    <form asp-controller="Parties" asp-action="Approve" method="post" class=" mr-2 float-right">
                                        <div class="form-group">
                                            <input type="hidden" name="PartyId" value="@applicant.PartyId"/>
                                        </div>
                                        <div class="form-group">
                                            <input type="hidden" name="ApplicantId" value="@applicant.ApplicantId"/>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Approve" class="btn btn-primary"/>
                                        </div>
                                    </form>
                                }
                                else if (applicant.ApplicationStatus == ApplicationStatusType.Declined)
                                {
                                    <h5 class="card-text text-danger float-right">@applicant.ApplicationStatus.ToString()</h5>
                                }
                                else if (applicant.ApplicationStatus == ApplicationStatusType.Approved)
                                {
                                    <h5 class="card-text text-primary float-right">@applicant.ApplicationStatus.ToString()</h5>
                                }
                                <p class="card-text">Applicant: @applicant.ApplicantUsername - Experience: @applicant.ApplicantGamingExperience</p>
                            </li>
                        }
                    </ul>
                }
                <a asp-controller="Parties" asp-action="Delete" asp-route-id="@party.Id" type="submit" class="btn btn-danger float-right mt-2">Delete</a>
                <a asp-controller="Parties" asp-action="Edit" asp-route-id="@party.Id" type="submit" class="btn btn-warning float-right mt-2 mr-2">Edit</a>
            </div>
        </div>
        <br/>
    }
}


<nav>
    <ul class="pagination justify-content-center">
        @if (this.Model.CurrentPage == 1)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#">Previous</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link"
                   asp-controller="Parties"
                   asp-action="Host"
                   asp-route-id="@Model.Username"
                   asp-route-page="@(this.Model.CurrentPage - 1)">
                    Previous
                </a>
            </li>
        }

        @for (int i = 1; i <= this.Model.PagesCount; i++)
        {
            var active = i == this.Model.CurrentPage ? "active" : string.Empty;
            <li class="page-item @active">
                <a class="page-link"
                   asp-controller="Parties"
                   asp-action="Host"
                   asp-route-id="@Model.Username"
                   asp-route-page="@i">
                    @i
                </a>
            </li>
        }

        @if (this.Model.CurrentPage == this.Model.PagesCount)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#">Next</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link"
                   asp-controller="Parties"
                   asp-action="Host"
                   asp-route-id="@Model.Username"
                   asp-route-page="@(this.Model.CurrentPage + 1)">
                    Next
                </a>
            </li>
        }
    </ul>
</nav>