@using GamersHub.Common
@using System.Linq
@model GamersHub.Web.ViewModels.Parties.PartyIndexViewModel
@{
    ViewData["Title"] = "All Parties";
    ViewData["Controller"] = "Parties";
    ViewData["Action"] = "Index";
}

@if (this.TempData["InfoMessage"] != null)
{
    <div class="alert alert-success">
        @this.TempData["InfoMessage"]
    </div>
}
<br/>
<div class="d-inline-block">
    <a asp-controller="Parties" asp-action="Host" asp-route-id="@this.User.Identity.Name" type="submit" class="btn btn-primary btn-lg">My Parties</a>
</div>


<div class="d-inline-block float-right">
    <a asp-controller="Parties" asp-action="Create" type="submit" class="btn btn-primary btn-lg"><i class="fa fa-plus"></i>&nbsp; New Party</a>
</div>

<div class="text-center">
    <h1 class="display-3">@this.ViewData["Title"]</h1>
</div>
<hr/>
<div class="row row-cols-1 row-cols-md-2">
    @foreach (var party in Model.Parties)
    {
        <div class="col mb-4">
            <div class="card h-100">
                <div class="card-header">
                    @party.CreatorUsername
                    <span class="float-right"><i class="fas fa-calendar-alt"></i> Created on: <time datetime="@party.CreatedOn"></time></span>
                </div>
                <div class="card-body">
                    <h5 class="card-text">@party.Game</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@party.Activity</h6>
                    <p class="card-text">Size: <span class="badge badge-primary">@party.Size</span></p>
                    <p class="card-text">@party.Description</p>
                </div>
                <div class="card-footer">
                    @if (party.IsFull)
                    {
                        <p class="card-text">Party is Full.</p>
                    }
                    else
                    {
                        <form asp-controller="Parties" asp-action="Apply" asp-route-id="" method="post" class="float-right">
                            <div class="form-group">
                                <input type="hidden" name="PartyId" value="@party.Id"/>
                            </div>
                            <div class="form-group">
                                <input type="hidden" name="UserId" value="@party.CreatorId"/>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Apply" class="btn btn-primary"/>
                            </div>
                        </form>
                        <p class="card-text">Applicants: <span class="badge badge-primary">@party.PartyApplicantsCount</span></p>
                    }
                </div>
            </div>
        </div>
    }
</div>

<partial name="_PaginationPartial" model="@Model.Pagination" view-data="@ViewData"/>