@model GamersHub.Web.ViewModels.Administration.Games.GameAdministrationIndexViewModel
@{
    ViewData["Title"] = "Administration - Games";
}

@if (this.TempData["InfoMessage"] != null)
{
    <div class="alert alert-success">
        @this.TempData["InfoMessage"]
    </div>
}
<br/>

<div class="d-inline-block">
    <a asp-area="Administration" asp-controller="Dashboard" asp-action="Index" type="submit" class="btn btn-primary btn-lg">Back to Dashboard</a>
</div>

<div class="d-inline-block float-right">
    <a asp-area="Administration" asp-controller="Games" asp-action="Create" type="submit" class="btn btn-primary btn-lg"><i class="fa fa-plus"></i>&nbsp; New Game</a>
</div>

<div class="text-center ">
    <h1 class="display-4">@this.ViewData["Title"]</h1>
</div>
<hr/>
<table class="table table-hover">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Reviews</th>
        <th scope="col">Positive</th>
        <th scope="col">Negative</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var game in Model.Games
        .OrderByDescending(x => x.ReviewsCount))
    {
        <tr>
            <td>
                <a asp-area="" asp-controller="Games" asp-action="@game.Url" asp-route-id="@game.Id" class="card-link">@game.Title</a>
            </td>
            <td>@game.ReviewsCount</td>
            <td><i class="fas fa-thumbs-up fa-lg text-primary"></i> @game.PositiveReviews</td>
            <td><i class="fas fa-thumbs-down fa-lg text-danger"></i> @game.NegativeReviews</td>
            <td>
                <a asp-area="" asp-controller="Games" asp-action="Edit" asp-route-id="@game.Id" class="d-inline-block btn btn-warning" type="submit">Edit</a>
            </td>
            <td>
                <a asp-area="Administration" asp-controller="Games" asp-action="Delete" asp-route-id="@game.Id" class="d-inline-block btn btn-danger" type="submit">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>