@model GamersHub.Web.ViewModels.Forums.ForumViewModel

<div class="col mb-4">
    <div class="card">
        <div class="card-header">
            @Model.Name
            <a asp-controller="Forums" asp-action="@Model.Url" asp-route-id="@Model.Id" class="card-link float-right">To Forum</a>
        </div>
        <div class="card-body">
            <p class="card-text">Total Posts: <span class="badge badge-primary">@Model.PostsCount</span></p>
            <h6 class="card-subtitle mb-2 text-muted">Categories</h6>
            @foreach (var category in Model.ForumCategories)
            {
                <p class="card-text">
                    <a asp-controller="Categories" asp-action="@category.Url" asp-route-id="@Model.Id" class="card-link"> @category.CategoryName:</a>
                    @category.CategoryDescription
                </p>
            }
        </div>
    </div>
</div>