@model GamersHub.Web.ViewModels.Forums.PostInForumViewModel

<tr>
    <td>
        <a asp-area="" asp-controller="Posts" asp-action="@Model.Url" class="card-link">@Model.ShortName</a>
    </td>
    <td>@Model.CategoryName</td>
    <td><i class="fas fa-user"></i> @Model.UserUsername</td>
    <td><i class="fas fa-comments"></i> @Model.RepliesCount</td>
    <td><i class="fas fa-calendar-alt"></i> <time datetime="@Model.CreatedOn"></time></td>
</tr>