@model GamersHub.Web.ViewModels.Forums.ForumViewModel

<div class="col mb-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                <a asp-controller="Forums" asp-action="@Model.Url" asp-route-id="@Model.Id" class="card-link">@Model.Name</a>
            </h5>
            <p class="card-text">Total Posts: @Model.PostsCount</p>
            
            @foreach (var category in Model.ForumCategories)
            {
                <p class="card-text">
                    <a asp-controller="Categories" asp-action="@category.Url" asp-route-id="@Model.Id" class="card-link"> @category.CategoryName:</a>
                    @category.CategoryDescription
                </p>
            }
        </div>
    </div>
</div>