@model GamersHub.Web.ViewModels.Forums.ForumByNameViewModel
@{
    ViewData["Title"] = Model.Name;
    ViewData["Description"] = $"Video Game Forum for {@Model.Name}";
    ViewData["Controller"] = "Forums";
    ViewData["Action"] = $"{Model.Url}";
}

<meta name="description" content="@ViewData["Description"]"/>
<meta name="keywords" content="Video Game,Forum,@Model.Name"/>

@if (this.TempData["InfoMessage"] != null)
{
    <div class="alert alert-success">
        @this.TempData["InfoMessage"]
    </div>
}
<br/>

<div class="d-inline-block">
    <a asp-controller="Forums" asp-action="Index" type="submit" class="btn btn-primary btn-lg">Back to Forums</a>
</div>

<div class="d-inline-block float-right">
    <a asp-controller="Posts" asp-action="Create" type="submit" class="btn btn-primary btn-lg"><i class="fa fa-plus"></i>&nbsp; New Post</a>
</div>

<div class="d-block text-white">
    <h1 class="display-3">@Model.Name</h1>
</div>

<hr/>
<div class="row row-cols-1 row-cols-md-3 list-group list-group-horizontal">
    @foreach (var category in Model.ForumCategories)
        {
            <div class="col mb-4">
                <a asp-controller="Categories" asp-action="@category.Url" asp-route-id="@Model.Id" class="list-group-item list-group-item-action">@category.CategoryName</a>
            </div>
        }
</div>

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Topic</th>
        <th scope="col">Category</th>
        <th scope="col">Author</th>
        <th scope="col">Replies</th>
        <th scope="col">Posted on</th>
    </tr>
    </thead>
    <tbody class="text-white">
    @foreach (var post in Model.ForumPosts)
    {
        <partial name="_ForumsByNamePartial" model="post"/>
    }
    </tbody>
</table>


<partial name="_PaginationPartial" model="@Model.Pagination" view-data="@ViewData"/>