@using GamersHub.Common
@model GamersHub.Web.ViewModels.Games.ReviewInGameViewModel

<div class="card">
    <div class="card-header">
        <h5 class="d-inline">@Model.UserUsername 
        @if (Model.IsPositive)
        {
            <i class="fas fa-thumbs-up fa-lg text-primary"></i>
        }
        else
        {
            <i class="fas fa-thumbs-down fa-lg text-danger"></i>
        }
            </h5>
        <h5 class="float-right">User Reviews: @Model.UserReviewsCount</h5>
    </div>
    <div class="card-body">
        <p class="card-text">@Html.Raw(Model.SanitizedContent)</p>
        @if (this.User.Identity.Name == this.Model.UserUsername ||
             this.User.IsInRole(GlobalConstants.AdministratorRoleName) ||
             this.User.IsInRole(GlobalConstants.ModeratorRoleName))
        {
            <a asp-controller="Reviews" asp-action="Delete" asp-route-id="@Model.Id" class="d-inline-block float-right m-1 btn btn-danger" type="submit">Delete</a>
            <a asp-controller="Reviews" asp-action="Edit" asp-route-id="@Model.Id" class="d-inline-block float-right m-1 btn btn-warning" type="submit">Edit</a>
        }
    </div>
    <div class="card-footer">
        <span class="d-inline"><i class="fas fa-calendar-alt"></i> Posted on: <time datetime="@Model.CreatedOn"></time></span>
        @if (Model.ModifiedOn != null)
        {
            <span class="float-right"><i class="fas fa-calendar-alt"></i> Last Modified: <time datetime="@Model.ModifiedOn"></time></span>
        }
    </div>
</div>