@model GamersHub.Web.ViewModels.Games.GameViewModel

<div class="col mb-4">
    <div class="card">
        <div class="card-header">
            Reviews: 
            <i class="fas fa-thumbs-up fa-lg text-primary"></i> @Model.PositiveReviews
            <i class="fas fa-thumbs-down fa-lg text-danger"></i> @Model.NegativeReviews
            <a asp-controller="Games" asp-action="@Model.Url" asp-route-id="@Model.Id" class="card-link float-right">To Game</a>
        </div>
        <img class="card-img-top" src="@Model.ImgUrl" alt="@Model.Title" style="height: 500px"/>
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            @if (Model.SubTitle != null)
            {
                <h6 class="card-subtitle mb-2 text-muted">@Model.SubTitle</h6>
            }
        </div>
    </div>
</div>