@using GamersHub.Common
@model GamersHub.Web.ViewModels.Administration.Posts.PostIndexViewModel
@{
    ViewData["Title"] = "Administration - Posts";
    ViewData["Controller"] = "Posts";
    ViewData["Action"] = "Index";
    ViewData["Area"] = "Administration";
}


<div class="d-inline-block">
    <a asp-area="Administration" asp-controller="Dashboard" asp-action="Index" type="submit" class="btn btn-primary btn-lg">Back to Dashboard</a>
</div>
<div class="text-center text-white">
    <h1 class="display-4">@this.ViewData["Title"]</h1>
</div>
<hr/>
<table id="PostsList" class="table table-bordered table-dark table table-hover">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Author</th>
        <th scope="col">Forum</th>
        <th scope="col">Category</th>
        <th scope="col">Replies</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var post in Model.Posts
        .OrderByDescending(x => x.RepliesCount))
    {
        <tr class="text-white">
            <td>
                <a asp-area="" asp-controller="Posts" asp-action="@post.Url" class="card-link">@post.ShortName</a>
            </td>
            <td>@post.ShortUsername</td>
            <td>@post.ShortForumName</td>
            <td>@post.ShortCategoryName</td>
            <td>@post.RepliesCount</td>

            <td>
                <a asp-area="" asp-controller="Posts" asp-action="Edit" asp-route-id="@post.Id" class="d-inline-block btn btn-warning" type="submit">Edit</a>
            </td>
            <td>
                <a asp-area="" asp-controller="Posts" asp-action="Delete" asp-route-id="@post.Id" class="d-inline-block btn btn-danger" type="submit">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<partial name="_PaginationPartial" model="@Model.Pagination" view-data="@ViewData"/>

@section Scripts
{
   <script type="text/javascript">         
              $(document).ready(function () {             
   
                  $("#PostsList").tablesorter({                  
                 cssAsc: 'up',
                 cssDesc: 'down',      
                 cssNone: "none",
                 sortList: [[4,1]]         
                  }                  
                  );  
              });
   
       </script>
}
