@model GamersHub.Web.ViewModels.Reviews.ReviewDeleteViewModel
@{
    ViewData["Title"] = "Delete Review";
}


<div class="text-center">
    <h1 class="display-3">@this.ViewData["Title"]</h1>
</div>
<hr/>
<div class="d-block">
    <h2>You are about to delete the following Game Review:</h2>
</div>

<h2>@Model.GameTitle</h2>
@if (Model.GameSubTitle != null)
{
    <h4>@Model.GameSubTitle</h4>
}
<div class="card">
    <div class="card-header">
        <h5 class="d-inline">
            @Model.UserUsername
            @if (Model.IsPositive)
            {
                <i class="fas fa-thumbs-up fa-lg text-primary"></i>
            }
            else
            {
                <i class="fas fa-thumbs-down fa-lg text-danger"></i>
            }
        </h5>
        <h5 class="float-right">User Reviews: @Model.UserReviewsCount</h5>
    </div>
    <div class="card-body">
        <p class="card-text">@Html.Raw(Model.SanitizedContent)</p>
    </div>
    <div class="card-footer">
        <span class="d-inline"><i class="fas fa-calendar-alt"></i> Posted On: @Model.CreatedOn.ToString("MM/dd/yyyy hh:mm tt")</span>
        @if (Model.ModifiedOn != null)
        {
            <span class="float-right"><i class="fas fa-calendar-alt"></i> Last Modified: @Model.ModifiedOn.Value.ToString("MM/dd/yyyy hh:mm tt")</span>
        }
    </div>
</div>

<form class="d-inline-block m-1" asp-area="" asp-controller="Reviews" asp-action="Delete" method="post">
    <div class="form-group">
        <input type="hidden" name="GameTitle" value="@Model.GameTitle"/>
    </div>
    <div class="form-group">
        <input type="hidden" name="GameId" value="@Model.GameId"/>
    </div>
    <div class="form-group">
        <input type="hidden" name="UserId" value="@Model.UserId"/>
    </div>
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger btn-lg"/>
    </div>
</form>

<div class="d-inline-block m-1">
    <a asp-area="" asp-controller="Games" asp-action="@Model.GameUrl" asp-route-id="@Model.GameId" type="submit" class="btn btn-primary btn-lg">Cancel</a>
</div>