@model GamersHub.Web.ViewModels.Reviews.ReviewEditViewModel
@{
    ViewData["Title"] = "Edit Review";
}
<div class="text-center ">
    <h1 class="display-3">@this.ViewData["Title"]</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>@Model.GameTitle</h2>
        @if (Model.GameSubTitle != null)
        {
            <h4>@Model.GameSubTitle</h4>
        }
        <form asp-controller="Reviews" asp-action="Edit" method="post">
            <div class="form-check">
                <label asp-for="IsPositive">
                    <i class="fas fa-thumbs-up fa-lg text-primary"></i>
                </label>
                <input asp-for="IsPositive" type="radio" value="@true"/>
                <label asp-for="IsPositive">
                    <i class="fas fa-thumbs-down fa-lg text-danger"></i>
                </label>
                <input asp-for="IsPositive" type="radio" value="@false"/>
            </div>
            <div class="form-group">
                <label asp-for="Content"></label>
                <textarea asp-for="Content" class="form-control" rows="20"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" name="GameTitle" value="@Model.GameTitle"/>
            </div>
            <div class="form-group">
                <input type="hidden" name="GameSubTitle" value="@Model.GameSubTitle"/>
            </div>
            <div class="form-group">
                <input type="hidden" name="UserId" value="@Model.UserId"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary btn-lg"/>
            </div>
        </form>
    </div>
</div>

<script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "image paste table link code media"
        ]
    });
</script>