@model GamersHub.Web.ViewModels.Categories.ForumCategoryViewModel
@{
    ViewData["Title"] = $"{Model.ForumCategory.ForumName} - {Model.ForumCategory.CategoryName}";
    ViewData["Description"] = "Video Game Forum with Categories for discussions.";
}
<meta name="description" content="@ViewData["Description"]"/>
<meta name="keywords" content="Game,@Model.ForumCategory.ForumName,@Model.ForumCategory.CategoryName,"/>

<div class="d-inline-block">
    <a asp-controller="Forums" asp-action="Index" type="submit" class="btn btn-primary btn-lg">Back to Forums</a>
</div>

<div class="d-inline-block float-right">
    <a asp-controller="Posts" asp-action="Create" type="submit" class="btn btn-primary btn-lg"><i class="fa fa-plus"></i>&nbsp; New Post</a>
</div>
<div class="d-block text-white">
    <h2 class="display-3">@Model.ForumCategory.ForumName</h2>
    <h2>@Model.ForumCategory.CategoryName</h2>
</div>

<form class="example mb-2" asp-controller="Categories" asp-action="@Model.ForumCategory.CategoryUrl" asp-route-id="@Model.ForumCategory.ForumId">
    <div class="form-group">
        <input type="text" placeholder="Search.." name="SearchString" value="@ViewData["CurrentFilter"]">
        <button type="submit">
            <i class="fa fa-search"></i>
        </button>
        <a class="card-link btn btn-primary ml-4" style="padding: 10px" asp-controller="Categories" asp-action="@Model.ForumCategory.CategoryUrl" asp-route-id="@Model.ForumCategory.ForumId">Back</a>
    </div>
</form>

<table id="PostsList" class="table table-bordered table-dark table table-hover">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Topic</th>
        <th scope="col">Author</th>
        <th scope="col">Replies</th>
        <th scope="col">Posted On</th>
    </tr>
    </thead>
    <tbody class="text-white">
    @foreach (var post in Model.CategoryPosts.OrderByDescending(x => x.CreatedOn))
    {
        <partial name="_CategoriesByNamePartial" model="post"/>
    }
    </tbody>
</table>


<nav>
    <ul class="pagination justify-content-center">
        @if (this.Model.CurrentPage == 1)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#">Previous</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link"
                   asp-area=""
                   asp-controller="Categories"
                   asp-action="@Model.ForumCategory.CategoryUrl"
                   asp-route-id="@Model.ForumCategory.ForumId"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   asp-route-page="@(this.Model.CurrentPage - 1)">
                    Previous
                </a>
            </li>
        }

        @for (int i = 1; i <= this.Model.PagesCount; i++)
        {
            var active = i == this.Model.CurrentPage ? "active" : string.Empty;
            <li class="page-item @active">
                <a class="page-link"
                   asp-area=""
                   asp-controller="Categories"
                   asp-action="@Model.ForumCategory.CategoryUrl"
                   asp-route-id="@Model.ForumCategory.ForumId"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   asp-route-page="@i">
                    @i
                </a>
            </li>
        }

        @if (this.Model.CurrentPage == this.Model.PagesCount)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#">Next</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link"
                   asp-area=""
                   asp-controller="Categories"
                   asp-action="@Model.ForumCategory.CategoryUrl"
                   asp-route-id="@Model.ForumCategory.ForumId"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   asp-route-page="@(this.Model.CurrentPage + 1)">
                    Next
                </a>
            </li>
        }
    </ul>
</nav>

@section Scripts
{
    <script type="text/javascript">         
              $(document).ready(function () {             
   
                  $("#PostsList").tablesorter({                  
                 cssAsc: 'up',
                 cssDesc: 'down',      
                 cssNone: "none",
                 sortList: [[3,1]]         
                  }                  
                  );  
              });
   
       </script>
}