@using GamersHub.Common
@model GamersHub.Web.ViewModels.Posts.PostByIdViewModel
@{
    ViewData["Title"] = "Post";
}

@if (this.TempData["InfoMessage"] != null)
{
    <div class="alert alert-success">
        @this.TempData["InfoMessage"]
    </div>
}
<br/>

<div class="d-inline-block">
    <a asp-controller="Forums" asp-action="Index" type="submit" class="btn btn-primary btn-lg">Back to Forums</a>
</div>

<div class="d-inline-block float-right">
    <a asp-controller="Replies" asp-action="Create" asp-route-id="@Model.Id" type="submit" class="btn btn-primary btn-lg">Post a Reply</a>
</div>

<div class="d-block">
    <h2 class="display-3">@Model.ForumName</h2>
    <h2>@Model.CategoryName</h2>
</div>

<hr/>
<div class="card">
    <div class="card-header">
        <h5 class="d-inline">@Model.UserUsername</h5>
        <h5 class="float-right">User Publications: @Model.Publications</h5>
    </div>
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Html.Raw(Model.SanitizedContent)</p>
        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <a asp-controller="Posts" asp-action="Delete" asp-route-id="@Model.Id" class="d-inline-block float-right m-1 btn btn-danger" type="submit">Delete</a>
        }
        @if (this.User.Identity.Name == this.Model.UserUsername ||
             this.User.IsInRole(GlobalConstants.AdministratorRoleName) ||
             this.User.IsInRole(GlobalConstants.ModeratorRoleName))
        {
            <a asp-controller="Posts" asp-action="Edit" asp-route-id="@Model.Id" class="d-inline-block float-right m-1 btn btn-warning" type="submit">Edit</a>
        }
    </div>
    <div class="card-footer">
        <span class="d-inline"><i class="fas fa-calendar-alt"></i> Posted on: <time datetime="@Model.CreatedOn"></time></span>
        @if (Model.ModifiedOn != null)
        {
            <span class="float-right"><i class="fas fa-calendar-alt"></i> Last Modified: <time datetime="@Model.ModifiedOn"></time></span>
        }
    </div>
</div>

<div class="d-block">
    <h2>Replies</h2>
</div>

@foreach (var reply in Model.Replies)
{
    <hr/>
    <partial name="_PostsRepliesPartial" model="reply"/>
}