@using GamersHub.Common
@model GamersHub.Web.ViewModels.Posts.PostDetailsViewModel

<div class="d-inline-block ">
    <h2 class="display-3">@Model.ForumName</h2>
    <h2>@Model.CategoryName</h2>
</div>
<hr/>
<div class="card">
    <div class="card-header">
        <span class="d-inline">@Model.UserUsername</span>
        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName) && this.User.IsInRole(GlobalConstants.ModeratorRoleName))
        {
            <span class="d-inline text-primary"><i class="fas fa-user-shield"></i> Administrator</span>
        }
        else if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <span class="d-inline text-primary"><i class="fas fa-user-shield"></i> Administrator</span>
        }
        else if (this.User.IsInRole(GlobalConstants.ModeratorRoleName))
        {
            <span class="d-inline text-primary"><i class="fas fa-user-shield"></i> Moderator</span>
        }
        <span class="float-right">@Model.Publications Publications</span>
    </div>
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Content</p>
    </div>
    <div class="card-footer">
        <span class="d-inline">Created On: @Model.CreatedOn.ToString("MM/dd/yyyy hh:mm tt")</span>
        @if (Model.CreatedOn.ToString("MM/dd/yyyy hh:mm tt") != Model.ModifiedOn.ToString("MM/dd/yyyy hh:mm tt"))
        {
            <span class="float-right">Last Modified: @Model.ModifiedOn.ToString("MM/dd/yyyy hh:mm tt")</span>
        }
    </div>
</div>

@foreach (var reply in Model.Replies)
{
    <hr/>
    @await Html.PartialAsync("_ProductsDetailsPartial", reply);
}